@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

#login {
  width: 1200px;
  height: 88px;
  margin: 0 auto;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative; }
  #login h1 {
    width: 140px;
    height: 63px;
    float: left; }
  #login h2 {
    width: 110px;
    height: 63px;
    float: left; }
  #login p {
    position: absolute;
    right: 0;
    top: 28px; }
    #login p span {
      color: #999; }
    #login p a:nth-of-type(1) {
      color: #0066cc;
      margin: 0 18px 0 20px; }

#main {
  width: 100%;
  height: 587px;
  background: url(../bg.jpg) repeat-x;
  border-top: 1px solid transparent; }
  #main form {
    width: 991px;
    height: 503px;
    border: 1px solid #ececec;
    background: #fff;
    margin: 0 auto;
    box-shadow: 6px 6px 6px 6px #f1f1f1;
    margin-top: 60px;
    border-radius: 10px; }
    #main form .message {
      width: 398px;
      height: 372px;
      margin: 0 auto;
      margin-top: 70px; }
      #main form .message b {
        display: inline-block;
        height: 15px;
        background: #CC0000;
        position: absolute;
        top: 42px;
        right: 0; }
      #main form .message i {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../img/regLogin-8.png) no-repeat;
        position: absolute;
        left: 113px;
        top: 10px; }
      #main form .message input[type=text], #main form .message input[type=password] {
        border: 1px solid #ccc;
        padding: 5px 0 0 48px;
        box-sizing: border-box; }
      #main form .message .phone {
        width: 100%;
        height: 42px;
        position: relative;
        margin-bottom: 15px; }
        #main form .message .phone p {
          float: left;
          line-height: 42px;
          margin-left: 22px; }
        #main form .message .phone input {
          width: 302px;
          height: 42px;
          float: right; }
        #main form .message .phone i {
          background-position: -50px 0; }
      #main form .message .authcode {
        width: 100%;
        height: 42px;
        position: relative;
        margin-bottom: 15px; }
        #main form .message .authcode p {
          float: left;
          line-height: 42px;
          margin-left: 22px; }
        #main form .message .authcode input {
          width: 302px;
          height: 42px;
          float: right; }
        #main form .message .authcode i {
          background-position: -426px 0; }
        #main form .message .authcode .random {
          width: 120px;
          height: 100%;
          position: absolute;
          box-sizing: border-box;
          left: 400px;
          top: 0; }
          #main form .message .authcode .random span {
            width: 20px;
            height: 100%;
            display: inline-block;
            float: left;
            margin-left: 5px;
            border-radius: 10px;
            border: 1px solid #ccc;
            text-align: center;
            line-height: 40px; }
      #main form .message .checkcode {
        width: 100%;
        height: 42px;
        position: relative;
        margin-bottom: 15px; }
        #main form .message .checkcode p {
          float: left;
          line-height: 42px;
          margin-left: 22px; }
        #main form .message .checkcode input {
          width: 148px;
          height: 42px;
          float: right;
          margin-right: 6px; }
        #main form .message .checkcode .gain {
          width: 148px;
          height: 100%;
          float: right;
          text-align: center;
          line-height: 42px;
          background: #ccc;
          cursor: pointer;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid #ccc; }
        #main form .message .checkcode i {
          background-position: -265px 0; }
      #main form .message .setpass {
        width: 100%;
        height: 42px;
        position: relative;
        margin-bottom: 15px; }
        #main form .message .setpass p {
          float: left;
          line-height: 42px;
          margin-left: 12px; }
        #main form .message .setpass input {
          width: 302px;
          height: 42px;
          float: right; }
        #main form .message .setpass i {
          background-position: -83px 0; }
        #main form .message .setpass .strength {
          width: 130px;
          height: 23px;
          position: absolute;
          left: 400px;
          overflow: hidden; }
          #main form .message .setpass .strength span {
            display: inline-block;
            width: 30px;
            height: 20px;
            border-radius: 8px;
            float: left;
            margin-right: 5px;
            border: 1px solid #ccc; }
      #main form .message .affpass {
        width: 100%;
        height: 42px;
        position: relative;
        margin-bottom: 15px; }
        #main form .message .affpass p {
          float: left;
          line-height: 42px;
          margin-left: 12px; }
        #main form .message .affpass input {
          width: 302px;
          height: 42px;
          float: right; }
        #main form .message .affpass i {
          background-position: -83px 0; }
      #main form .message .agreenment {
        width: 100%;
        height: 30px;
        position: relative;
        text-align: center; }
        #main form .message .agreenment p {
          display: inline-block;
          line-height: 30px;
          margin-left: 10px; }
        #main form .message .agreenment b {
          left: 50%;
          margin-left: -231px;
          color: #CC0000;
          background: none;
          top: 21px;
          display: none; }
      #main form .message .submit {
        width: 100%;
        height: 42px;
        margin-top: 20px;
        margin-bottom: 15px; }
        #main form .message .submit input {
          width: 303px;
          height: 42px;
          background: #CC0000;
          float: right;
          color: #fff;
          border: 0; }

#foot {
  width: 1200px;
  height: 229px;
  position: relative; }
  #foot #txt {
    width: 100%;
    position: absolute;
    bottom: 36px;
    left: 50%;
    margin-left: -500px; }
  #foot p {
    text-align: center;
    line-height: 30px; }
  #foot p:nth-of-type(2) {
    color: #CC0000; }
