@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

body {
  overflow-x: hidden;
  background: #f9f9f9; }

#login {
  width: 100%;
  height: 26px;
  background: #f2f2f2;
  border: 1px solid #e5e5e5; }
  #login #login-center {
    width: 1200px;
    height: 26px;
    margin: 0 auto; }
    #login #login-center p {
      float: left;
      height: 100%;
      line-height: 26px;
      color: #999; }
      #login #login-center p a {
        color: #999; }
      #login #login-center p a:first-of-type {
        margin: 0 6px 0 14px; }
    #login #login-center > ul {
      float: right;
      height: 100%;
      line-height: 26px; }
      #login #login-center > ul > li {
        float: left;
        height: 100%;
        margin-left: 12px;
        position: relative; }
    #login #login-center ul li a {
      display: inline-block;
      width: 100%;
      height: 100%; }
    #login #login-center ul li ol li {
      width: 100%;
      height: 26px;
      line-height: 26px;
      text-align: center; }
    #login #login-center ul > li:nth-child(2) a {
      color: #cc0000; }
    #login #login-center ul > li:nth-child(3) {
      width: 74px; }
      #login #login-center ul > li:nth-child(3) span {
        color: #cc0000; }
      #login #login-center ul > li:nth-child(3) a {
        width: 60px;
        float: right; }
    #login #login-center ul > li:nth-child(4) a {
      color: #cc0000; }
    #login #login-center ul li:first-child {
      width: 60px; }
      #login #login-center ul li:first-child b {
        right: 0;
        top: 50%;
        margin-top: -2px; }
      #login #login-center ul li:first-child ol {
        width: 100%; }
    #login #login-center ul li:first-child:hover {
      background: #fff; }
      #login #login-center ul li:first-child:hover b {
        width: 0;
        height: 0;
        border-top: none;
        border-bottom: 2px solid #999;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent; }
      #login #login-center ul li:first-child:hover ol {
        display: block; }
    #login #login-center ul li:nth-child(3) i {
      width: 12px;
      height: 12px;
      position: absolute;
      background: url(../img/public-24.png) no-repeat -18px 0;
      left: 0;
      top: 50%;
      margin-top: -6px; }
    #login #login-center ul li:nth-child(6) i {
      display: none;
      width: 80px;
      height: 80px;
      background: url(../img/jxPho-code.jpg) no-repeat;
      position: absolute;
      top: 26px;
      left: 0; }
    #login #login-center ul li:nth-child(6):hover i {
      display: block; }
    #login #login-center ul li:nth-child(8) {
      width: 76px; }
      #login #login-center ul li:nth-child(8) i {
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 14px;
        background: url(../img/public-24.png) no-repeat -91px -265px;
        top: 50%;
        margin-top: -5px; }
      #login #login-center ul li:nth-child(8) > a {
        margin-left: 16px; }
      #login #login-center ul li:nth-child(8) b {
        position: absolute;
        right: 0;
        top: 50%;
        margin-left: -6px; }
      #login #login-center ul li:nth-child(8) ol li {
        width: 80px;
        margin-left: 0; }
    #login #login-center ul li:nth-child(8):hover {
      background: #fff; }
      #login #login-center ul li:nth-child(8):hover b {
        width: 0;
        height: 0;
        border-top: none;
        border-bottom: 2px solid #999;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent; }
      #login #login-center ul li:nth-child(8):hover ol {
        display: block; }
    #login #login-center ul li:last-child span {
      color: #cc0000;
      margin-left: 5px; }
    #login #login-center b {
      width: 0;
      height: 0;
      border-top: 2px solid #999;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
      position: absolute; }
    #login #login-center ol {
      display: none;
      position: absolute;
      left: 0;
      top: 26px;
      background: #fff; }
      #login #login-center ol li a:hover {
        color: red; }
    #login #login-center a:hover {
      color: #cc0000;
      text-decoration: underline; }

#adverts {
  width: 100%;
  height: 90px; }
  #adverts img {
    width: 100%; }

#head {
  width: 100%;
  height: 125px; }
  #head #headcon {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box; }
    #head #headcon h1 {
      float: left; }
    #head #headcon h2 {
      float: left;
      margin: 0 20px 0 13px; }
    #head #headcon form {
      float: left; }
      #head #headcon form input {
        float: left; }
      #head #headcon form input[type=text] {
        width: 452px;
        height: 38px;
        box-sizing: border-box;
        border: 2px solid #cc0000;
        padding: 5px 0  0 6px; }
      #head #headcon form input[type=submit] {
        width: 86px;
        height: 38px;
        background: #cc0000;
        border: 0;
        color: #fff;
        cursor: pointer; }
    #head #headcon p {
      float: left;
      clear: both;
      margin-top: 8px; }
      #head #headcon p a {
        float: left;
        display: inline-block;
        padding: 0 8px;
        border-right: 1px solid #ccc; }
      #head #headcon p a:first-child {
        padding-left: 0; }
      #head #headcon p a:last-child {
        border-right: 0px; }
    #head #headcon ul {
      float: right; }
      #head #headcon ul li {
        float: left; }
      #head #headcon ul li:nth-child(1) {
        width: 43px;
        height: 43px;
        background: url(../img/public-24.png) no-repeat 0 -22px; }
      #head #headcon ul li:nth-child(2) {
        width: 43px;
        height: 43px;
        background: url(../img/public-24.png) no-repeat -48px -22px;
        margin: 0 20px; }
      #head #headcon ul li:nth-child(3) {
        background: url(../img/jxPho-code.jpg) no-repeat;
        width: 80px;
        height: 80px; }

#nav {
  width: 100%;
  height: 34px;
  background: #990000; }
  #nav #navcon {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    #nav #navcon > ul {
      float: left;
      height: 100%; }
      #nav #navcon > ul > li {
        float: left;
        height: 100%;
        position: relative; }
        #nav #navcon > ul > li > a {
          color: #fff;
          display: inline-block;
          float: left;
          height: 100%;
          line-height: 34px;
          padding: 0 22px;
          background: url(../img/navLine.png) no-repeat right 5px; }
      #nav #navcon > ul > li:hover {
        background: #b40c10; }
      #nav #navcon > ul > li:last-child > a {
        background: none; }
      #nav #navcon > ul > li:nth-child(1) > a {
        background: #b40c10; }
    #nav #navcon #left {
      width: 190px;
      height: 100%;
      line-height: 34px;
      text-align: center;
      color: #fff;
      background: #ce171f;
      font-weight: bolder;
      float: left;
      position: relative; }
      #nav #navcon #left > ul {
        position: absolute;
        top: 34px;
        width: 100%;
        height: 470px;
        background: #fff;
        text-align: left;
        z-index: 1000; }
        #nav #navcon #left > ul > li {
          padding: 11px 15px 0 15px;
          box-sizing: border-box;
          border-bottom: 1px solid #ccc;
          height: 81px; }
          #nav #navcon #left > ul > li h4 {
            text-align: left;
            line-height: 15px;
            margin-bottom: 8px;
            color: #333333; }
            #nav #navcon #left > ul > li h4 i {
              display: inline-block;
              margin-right: 15px; }
          #nav #navcon #left > ul > li > P {
            line-height: 20px; }
            #nav #navcon #left > ul > li > P > a {
              color: #666;
              padding: 0 3px; }
        #nav #navcon #left > ul > li:nth-child(1) h4 i {
          width: 13px;
          height: 15px;
          background: url(../img/public-24.png) no-repeat -73px -265px; }
        #nav #navcon #left > ul > li:nth-child(2) h4 i {
          width: 10px;
          height: 15px;
          background: url(../img/public-24.png) no-repeat 0px -102px; }
        #nav #navcon #left > ul > li:nth-child(3) h4 i {
          width: 8px;
          height: 18px;
          background: url(../img/public-24.png) no-repeat -18px -102px; }
        #nav #navcon #left > ul > li:nth-child(4) h4 i {
          width: 14px;
          height: 17px;
          background: url(../img/public-24.png) no-repeat -37px -102px; }
        #nav #navcon #left > ul > li:nth-child(5) h4 i {
          width: 11px;
          height: 15px;
          background: url(../img/public-24.png) no-repeat -61px -102px; }
        #nav #navcon #left > ul > li:last-child {
          height: 65px;
          border: 0; }
          #nav #navcon #left > ul > li:last-child h4 i {
            width: 12px;
            height: 15px;
            background: url(../img/public-24.png) no-repeat -80px -102px; }
    #nav #navcon h3 {
      float: right;
      height: 34px; }
    #nav #navcon b {
      width: 29px;
      height: 17px;
      background: url(../img/public-24.png) no-repeat 0 -264px;
      right: 7px;
      bottom: 22px;
      position: absolute; }
    #nav #navcon a {
      display: inline-block; }
    #nav #navcon .active {
      background: #ff9900;
      border-radius: 5px;
      color: #fff !important; }

#foot {
  width: 100%;
  height: 290px;
  background: #333;
  margin-top: 20px; }
  #foot #footcon {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border-top: 1px solid #333; }
    #foot #footcon .left {
      width: 780px;
      float: left; }
      #foot #footcon .left p {
        width: 100%;
        color: #ececec;
        line-height: 20px; }
        #foot #footcon .left p a {
          display: inline-block;
          padding: 0 12px;
          border-right: 1px solid #ccc;
          color: #fff; }
        #foot #footcon .left p a:last-child {
          border-right: 0; }
      #foot #footcon .left p:nth-of-type(1), #foot #footcon .left p:nth-of-type(3) {
        margin-top: 20px; }
      #foot #footcon .left .bot {
        margin: 10px 0; }
      #foot #footcon .left span {
        color: red;
        display: inline-block; }
    #foot #footcon .right {
      width: 80px;
      height: 80px;
      float: right;
      background: url(../img/jxPho-code.jpg) no-repeat 0 0;
      margin-top: 40px; }

#broadside {
  width: 35px;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  right: 0;
  border-left: 1px solid #ECECEC; }
  #broadside i {
    display: block;
    width: 19px;
    height: 19px;
    background: url(../img/public-24.png) no-repeat 0 0;
    margin-left: 8px;
    margin-bottom: 2px; }
  #broadside #sildecon {
    width: 100%;
    height: 365px;
    position: absolute;
    top: 50%;
    margin-top: -200px; }
    #broadside #sildecon #me {
      width: 100%;
      height: 37px;
      padding: 10px 0;
      text-align: center;
      position: relative; }
      #broadside #sildecon #me i {
        background-position: 0 -163px; }
      #broadside #sildecon #me b {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(../img/public-24.png) no-repeat; }
      #broadside #sildecon #me .hide {
        width: 270px;
        height: 281px;
        border: 1px solid #ccc;
        border-right: 0;
        position: absolute;
        right: 36px;
        background: #fff;
        top: 0;
        display: none; }
        #broadside #sildecon #me .hide .hideTop {
          width: 270px;
          height: 114px;
          line-height: 114px;
          text-align: center;
          border-bottom: 1px solid #ccc; }
          #broadside #sildecon #me .hide .hideTop a {
            color: #CC0000;
            margin-left: 6px; }
        #broadside #sildecon #me .hide .hideBot {
          width: 100%;
          height: 166px;
          background: #ececec;
          padding: 0 15px;
          box-sizing: border-box; }
          #broadside #sildecon #me .hide .hideBot ul {
            width: 100%; }
            #broadside #sildecon #me .hide .hideBot ul li {
              width: 120px;
              border-bottom: 1px solid #ccc;
              text-align: center;
              float: left;
              height: 83px;
              padding-top: 20px;
              box-sizing: border-box; }
              #broadside #sildecon #me .hide .hideBot ul li p {
                width: 100%;
                text-align: center;
                margin-top: 5px; }
            #broadside #sildecon #me .hide .hideBot ul li:nth-child(1) b {
              background-position: -66px -190px; }
            #broadside #sildecon #me .hide .hideBot ul li:nth-child(2) b {
              background-position: -97px -190px; }
            #broadside #sildecon #me .hide .hideBot ul li:nth-child(3) b {
              background-position: -158px -190px; }
            #broadside #sildecon #me .hide .hideBot ul li:nth-child(4) b {
              background-position: -158px -219px; }
    #broadside #sildecon #me:hover .hide {
      display: block; }
    #broadside #sildecon #me:hover {
      background: #CC0000; }
    #broadside #sildecon #me:hover i {
      background-position: -19px -163px; }
    #broadside #sildecon #me:hover span {
      color: #fff; }
    #broadside #sildecon #collect {
      width: 100%;
      height: 37px;
      padding: 10px 0;
      text-align: center;
      position: relative; }
      #broadside #sildecon #collect .hideTop {
        position: absolute;
        width: 270px;
        height: 114px;
        line-height: 114px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        right: 36px;
        background: #fff;
        top: 0;
        display: none; }
        #broadside #sildecon #collect .hideTop a {
          color: #CC0000;
          margin-left: 6px; }
      #broadside #sildecon #collect i {
        background-position: -40px -163px; }
    #broadside #sildecon #collect:hover .hideTop {
      display: block; }
    #broadside #sildecon #collect:hover {
      background: #CC0000; }
    #broadside #sildecon #collect:hover i {
      background-position: -60px -163px; }
    #broadside #sildecon #collect:hover span {
      color: #fff; }
    #broadside #sildecon #shop {
      width: 100%;
      height: 77px;
      padding: 10px 0;
      text-align: center; }
      #broadside #sildecon #shop i {
        background-position: -120px -163px; }
      #broadside #sildecon #shop span {
        display: block; }
    #broadside #sildecon #shop:hover {
      background: #CC0000; }
    #broadside #sildecon #shop:hover span {
      color: #fff; }
    #broadside #sildecon #shop:hover i {
      background-position: -140px -163px; }
    #broadside #sildecon #chat {
      width: 100%;
      height: 37px;
      padding: 10px 0;
      text-align: center; }
      #broadside #sildecon #chat i {
        background-position: -46px -330px; }
    #broadside #sildecon #chat:hover {
      background: #CC0000; }
    #broadside #sildecon #chat:hover span {
      color: #fff; }
    #broadside #sildecon #chat:hover i {
      background-position: -65px -330px; }
  #broadside #sildebottom {
    width: 100%;
    height: 96px;
    position: absolute;
    bottom: 30px; }
    #broadside #sildebottom i {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../img/public-24.png) no-repeat; }
    #broadside #sildebottom #yonghu, #broadside #sildebottom #erweima, #broadside #sildebottom #shang {
      padding-top: 5px;
      width: 35px;
      height: 27px;
      text-align: center; }
    #broadside #sildebottom #yonghu {
      position: relative; }
      #broadside #sildebottom #yonghu i {
        background-position: 0 -186px; }
      #broadside #sildebottom #yonghu p {
        width: 80px;
        text-align: center;
        line-height: 27px;
        background: #fff;
        border: 1px solid #ECECEC;
        border-right: 0;
        top: 0;
        position: absolute;
        right: 36px;
        display: none; }
    #broadside #sildebottom #yonghu:hover {
      background: #CC0000; }
    #broadside #sildebottom #yonghu:hover p {
      display: block; }
    #broadside #sildebottom #erweima {
      position: relative; }
      #broadside #sildebottom #erweima i {
        background-position: -22px -186px; }
      #broadside #sildebottom #erweima div {
        width: 80px;
        height: 80px;
        display: none;
        position: absolute;
        right: 36px;
        top: 0; }
    #broadside #sildebottom #erweima:hover {
      background: #CC0000; }
    #broadside #sildebottom #erweima:hover div {
      display: block; }
    #broadside #sildebottom #shang i {
      background-position: -42px -186px; }

table {
  margin: 100px auto;
  border-collapse: collapse; }
  table tr {
    border-top: 1px solid #000; }
    table tr td {
      border-top: 2px solid #000;
      width: 110px;
      height: 110px;
      text-align: center;
      margin-top: 20px;
      background-color: white; }
      table tr td img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-left: 40px; }
    table tr td:nth-of-type(2) {
      width: 700px; }
  table tr:nth-of-type(1) td {
    font-size: 14px;
    font-weight: 600;
    height: 47px !important;
    background: white;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4; }
